body {
    background-color: #345;
    color: #ccc;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16pt;
    background-color: #456;
    color: #ccc;
    border-radius: 5px;
    width: 100%;
}

button:hover {
    background-color: #567;
    cursor: pointer;
}

button:active {
    background-color: #678;
}

textarea {
    font-family: monospace;
    font-size: 16pt;
    width: 100%;
}

div {
    padding: 0.5em;
    margin: 0.5em;
}

#result {
    white-space: pre;
}